@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #393d4f;
  --color-secondary: #9333ea;
  --color-blue: #0b96e6;
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Lora', serif;
  --text-sm: 0.64rem;
  --text-tiny: 0.8rem;
  --text-base: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.56rem;
  --text-2xl: 1.95rem;
  --text-3xl: 2.44rem;
  --text-4xl: 3.05rem;
  --text-5xl: 3.81rem;
  --text-6xl: 4.77rem;
  --text-7xl: 5.96rem;
}
